@model IEnumerable<WebPage.Models.Customers>

@{
    ViewData["Title"] = "Index";
}

<h1>Customer Detail</h1>

<style>
    #dataTables-example span {
        color: #615E5A;
        font-size: 15px;
        font-weight: 400;
    }
</style>


<table class="table table-hover historyTable" id="dataTables-example" style="margin-bottom:0px !important; table-layout: fixed;">
    <thead> 
        <tr style="cursor:pointer">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                Edit Options
            </th>
        </tr> 
    </thead>
    <tbody>
       
@foreach (var item in Model) {
            <tr style="cursor:pointer">
                <td onclick="Displaykeys(@item.Id)">
                @Html.DisplayFor(modelItem => item.Name)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
<a asp-action="Create">New User</a>
</p>

<script>
    function Displaykeys(id){
        console.log(id);
        var url = '@Url.Action("Index", "CustomerKeys", new { id = "__id__" })';
        url = url.replace('__id__', id);
        window.location.href = url;
    }
</script>